.BUM{
font-family:fantasy;
text-align: center;
}

body{
    background-color:RGb(255,210,225);
    height: auto;
    width: auto;

}
.text{
    text-align: center;
    font-family:fantasy;
    justify-items: center;
     text-transform: capitalize; 
}
.text1{
    text-align: center;
    font-family:fantasy
}
#maj{
    text-transform: uppercase;
    color:rgb(255, 59, 147);

}
#maj1{
    text-transform: uppercase;
    color:rgb(255, 59, 147);

}
#min{
    color: RGB(255,105,180);
    padding: 1eM;
}
a{
    text-decoration: none;
}
button{
background-color: RGB(255,155,220);
 color: white;
 border: none;
  text-align: center;
  text-decoration: none;
  display:flex;
  justify-content:center;
  align-items: center;
  height: 40px;
  width: 100px;
  font-size: 16px;
  cursor: pointer;
border-radius: 12px;
  margin-left:auto;
  margin-right:auto;
  padding:none;
}
#om{
    height: 50;
    width: 150px;
    margin-left: auto;
    margin-right:auto;
}
#pi{
        text-align: center;

}
#dawg{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 150px;
}
table,  th, td{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(240, 60, 159);

}

td{
    padding: 4px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    font-family: Arial, Helvetica, sans-serif;
}
#kitty{
    height: 25%;
    width: 25%;
    display: block;
    position: relative;
   align-items: center;
   justify-content: center;
   padding: 20PX;
   position: relative;
   margin-left: auto;
   margin-right: AUTO;
}
#monk{
     height: 25%;
    width: 25%;
    display: block;
    position: relative;
    left: 35%;

}
#meat{
  
  padding-right: 16px;
  font-family: Arial, Helvetica, sans-serif;
color: rgb(255, 67, 205); 

}

#madeup{
    text-transform: uppercase;
    text-align: center;
    color: white;
    display: block;
    margin: 0px;
    padding:0px;
   font-weight: bold;
   font-size: xx-large;
   position: relative;
   right: 60px;}
#pointless{color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;

}
#fuh{
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right:auto ;
   height: 20px;
   width: 80px;
}
input{
    display: block;
   position:relative ;
  margin-left: auto;
  margin-right: auto;
  margin-top:2%;
  margin-bottom: auto;
 width: 75px;
 height:30px;
}
