.BUM{
font-family:fantasy;
text-align: center;
}

body{
    background-color:RGb(255,210,225);

}
.text{
    text-align: center;
    padding: 50px ;
    font-family:fantasy}
.text1{
    text-align: center;
    font-family:fantasy
}
#maj{
    text-transform: uppercase;
    color:rgb(255, 59, 147);

}
#maj1{
    text-transform: uppercase;
    color:rgb(255, 59, 147);

}
#min{
    color: RGB(255,105,180);
    padding: 1eM;
}
button{
    background-color: RGB(255,155,220);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    left: 40%;

}
#pi{
        text-align: center;

}
#dawg{
    float: center;
    align-self: center;
    position:relative;
left:40%;
    height: 100px;
    width: 150px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 4px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    font-family: Arial, Helvetica, sans-serif;
}
#kitty{
    height: 25%;
    width: 25%;
    display: block;
    position: relative;
    left: 30%;

}
#monk{
     height: 25%;
    width: 25%;
    display: block;
    position: relative;
    left: 35%;

}
#meat{
  
  padding-right: 16px;
  font-family: Arial, Helvetica, sans-serif;
color: rgb(255, 67, 205);  
}

#madeup{
    text-transform: uppercase;
    text-align: center;
    color: white;
    
}
#pointless{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
